In [80]:
import pandas as pd
import sqlite3

In [19]:
# #import the library sqlite3
# import sqlite3

# #create a new database and open a database connection with the name example
# example = sqlite3.connect("example.db")

# # create a data cursor cur in order execute SQL statements and fetch results from SQL queries
# cur = example.cursor()

# # Create table with the column date, side, symbol, qty, price
# cur.execute("CREATE TABLE stock (date VarChar(10), side VarChar(20), symbol VarChar(20), qty float, price float)")

# # Insert 3 row of data: the stock APPLE ( AAPL) with the date of transaction, the nature of side ( BUY or SELL),
# #the quantity of the stock traded and the price
# cur.execute("""
#     INSERT INTO stock (date, side, symbol, qty, price) VALUES
#         ('2021-01-01', 'BUY', 'AAPL', 100, 148.48),
#         ('2021-01-02', 'SELL', 'AAPL', 100, 149.11),
#         ('2021-01-03', 'BUY', 'AAPL', 75, 144.27),
#         ('2021-01-04', 'SELL', 'AAPL', '75', '146.39')
#         """) 

# # Save (commit) the changes
# example.commit() 

# #return all resulting rows
# res = cur.execute("SELECT * FROM stock")
# res.fetchall()

# # Close the connection
# example.close()

# # #for more informations : https://docs.python.org/3/library/sqlite3.html

## the construction of a financial database

Let’s start simple and only consider the structure for the equity data that we are gathering for now – in our case the constituents of the S&P500 index. We can tag on the various tables and possibly whole databases to the mix as and when we need to, i.e. when we start to deal with the spot currency data and fund data that we plan to include.

the  plan is to segregate theequity data into 4 separate tables, using unique ids and foreign keys to create the relevant relationships and links between them.

The tables will be as follows:


<img src='Tables.png'>

<img src='C:\Users\User\Desktop\Formations_Data-LAPTOP-JP680GIQ\Formations_Data-LAPTOP-JP680GIQ\Organisme_formation\Ib_cegos\AXA\MCD.png'>

In [30]:
#import the library os and the module Error of the library sqlite3
import os
from sqlite3 import Error
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    #YOUR CODE 
    conn = None
    try: 
        conn = sqlite3.connect(db_file)
        print("connection établie")
        return conn
    except :
        print ("erreur")
        


def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    #YOUR CODE 
    try : 
        cur = conn.cursor()
        cur.execute(create_table_sql)  
              
    except :
        print("erreur")

#the name of the database
db_name = "data.db"
        
def main():

    
    # create the tables according to the MCD
    sql_create_exchange_table = """ CREATE TABLE IF NOT EXISTS exchange (
                                        id integer ,
                                        name text NOT NULL,
                                        currency VarChar(5),
                                        code text NOT NULL UNIQUE,
                                        PRIMARY KEY(id)
                                    ); """
    
    sql_create_company_table = """CREATE TABLE IF NOT EXISTS company (
                                    id integer ,
                                    name text NOT NULL,
                                    industry text,
                                    sector text,
                                    hq_location text,
                                    security_id integer,
                                    PRIMARY KEY(id),
                                    FOREIGN KEY (security_id) REFERENCES security (id)
                                );"""
    
    
    sql_create_security_table = """CREATE TABLE IF NOT EXISTS security (
                                id integer,
                                ticker text NOT NULL UNIQUE,
                                name text NOT NULL,
                                company_id integer,
                                exchange_id integer,
                                PRIMARY KEY(id)
                                FOREIGN KEY (company_id) REFERENCES company (id),
                                FOREIGN KEY (exchange_id) REFERENCES exchange (id)
                            );"""
    
    sql_create_security_price_table =  """CREATE TABLE IF NOT EXISTS security_price (
                        id integer,
                        date text NOT NULL,
                        open decimal NOT NULL,
                        high decimal NOT NULL,
                        low decimal NOT NULL,
                        close decimal NOT NULL,
                        volume integer,
                        adj_close decimal NOT NULL,
                        security_id integer,
                        PRIMARY KEY(id),
                        FOREIGN KEY (security_id) REFERENCES security (id)
                    );"""

    
    # create a database connection
    #YOUR CODE
    conn = create_connection(db_name)
    
    
    # create tables
    if conn is not None:
        # create exchange table
        #YOUR CODE
        create_table(conn, sql_create_exchange_table)
    
        # create company table
        #YOUR CODE
        create_table(conn, sql_create_company_table)
        
        # create security table
        #YOUR CODE
        create_table(conn, sql_create_security_table)
        
        # create security_price table
        #YOUR CODE
        create_table(conn, sql_create_security_price_table)
        
        
    else:
        print("Error! cannot create the database connection.")
main()

connection établie

In [21]:
#import the library pandas , requests and io
exchange_data = pd.read_csv("https://www.iso20022.org/sites/default/files/ISO10383_MIC/ISO10383_MIC.csv", encoding='iso-8859-1' )

In [22]:
exchange_data.head(3)

,MIC,OPERATING MIC,OPRT/SGMT,MARKET NAME-INSTITUTION DESCRIPTION,LEGAL ENTITY NAME,LEI,MARKET CATEGORY CODE,ACRONYM,ISO COUNTRY CODE (ISO 3166),CITY,WEBSITE,STATUS,CREATION DATE,LAST UPDATE DATE,LAST VALIDATION DATE,EXPIRY DATE,COMMENTS
0,DRSP,DRSP,OPRT,EURONEXT UK - REPORTING SERVICES,EURONEXT LONDON LIMITED,969500HMVSZ0TCV65D58,APPA,NaN,GB,LONDON,WWW.EURONEXT.COM,ACTIVE,20210927,20210927,20210927.0,NaN,APPROVED PUBLICATION ARRANGEMENT.
1,XCNQ,XCNQ,OPRT,CANADIAN SECURITIES EXCHANGE,"CNSX MARKETS, INC.",NaN,RMKT,CSE LISTED,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20090427,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
2,PURE,XCNQ,SGMT,CANADIAN SECURITIES EXCHANGE - PURE,"CNSX MARKETS, INC.",NaN,NSPD,CSE-PURE,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20061225,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...

In [23]:
exchange_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   MIC                                  2561 non-null   object
 1   OPERATING MIC                        2561 non-null   object
 2   OPRT/SGMT                            2561 non-null   object
 3   MARKET NAME-INSTITUTION DESCRIPTION  2561 non-null   object
 4   LEGAL ENTITY NAME                    495 non-null    object
 5   LEI                                  1833 non-null   object
 6   MARKET CATEGORY CODE                 2559 non-null   object
 7   ACRONYM                              890 non-null    object
 8   ISO COUNTRY CODE (ISO 3166)          2560 non-null   object
 9   CITY                                 2559 non-null   object
 10  WEBSITE                              2387 non-null   object
 11  STATUS                               2561 non-null   object
 12  CREATION DATE                        2561 non-null   int64
 13  LAST UPDATE DATE                     2561 non-null   int64
 14  LAST VALIDATION DATE                 213 non-null    float64
 15  EXPIRY DATE                          438 non-null    float64
 16  COMMENTS                             1502 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 340.3+ KB

In [24]:
exchange_data = exchange_data[['ISO COUNTRY CODE (ISO 3166)', 'MIC', 'MARKET NAME-INSTITUTION DESCRIPTION', 'ACRONYM']]
exchange_data.head()

,ISO COUNTRY CODE (ISO 3166),MIC,MARKET NAME-INSTITUTION DESCRIPTION,ACRONYM
0,GB,DRSP,EURONEXT UK - REPORTING SERVICES,NaN
1,CA,XCNQ,CANADIAN SECURITIES EXCHANGE,CSE LISTED
2,CA,PURE,CANADIAN SECURITIES EXCHANGE - PURE,CSE-PURE
3,GB,ZODM,ZODIA MARKETS,NaN
4,US,FNFX,FENICS FX ECN,NaN

In [25]:
exchange_data.rename(columns={'ISO COUNTRY CODE (ISO 3166)' : 'country_code', 
                              'MIC':'code', 
                              'MARKET NAME-INSTITUTION DESCRIPTION': 'name',
                              'ACRONYM':'acronym'}, inplace=True)
exchange_data.head()

  country_code  code                                 name     acronym
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE
3           GB  ZODM                        ZODIA MARKETS         NaN
4           US  FNFX                        FENICS FX ECN         NaN

In [26]:
exchange_data['id'] = exchange_data.index
exchange_data.head()

  country_code  code                                 name     acronym  id
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN   0
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED   1
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE   2
3           GB  ZODM                        ZODIA MARKETS         NaN   3
4           US  FNFX                        FENICS FX ECN         NaN   4

In [27]:
exchange_data['country_code']

0       GB
1       CA
2       CA
3       GB
4       US
        ..
2556    US
2557    NO
2558    US
2559    US
2560    GB
Name: country_code, Length: 2561, dtype: object

In [28]:
# create the column currency in the the dataframe exhange_data whose values 
#are mapped with the country code : US => USD, GB =>GBP, DE =>EUR
mapping = {"US": "USD", "GB": "GBP", "DE": "EUR"}
exchange_data['currency'] = exchange_data['country_code'].map(mapping)
exchange_data[['id', 'name', 'currency', 'code']].head(30)

    id                                               name currency  code
0    0                  EURONEXT  UK - REPORTING SERVICES      GBP  DRSP
1    1                       CANADIAN SECURITIES EXCHANGE      NaN  XCNQ
2    2                CANADIAN SECURITIES EXCHANGE - PURE      NaN  PURE
3    3                                      ZODIA MARKETS      GBP  ZODM
4    4                                      FENICS FX ECN      USD  FNFX
5    5                                    NASDAQ OSLO ASA      NaN  NORX
6    6                           PORTFOLIO STOCK EXCHANGE      NaN  POSE
7    7                                        PUNDION LLC      USD  PUND
8    8                               UNICREDIT BULBANK AD      NaN  UCBG
9    9                ASX - NEW ZEALAND FUTURES & OPTIONS      NaN  NZFX
10  10                                    ONECHICAGO, LLC      USD  XOCH
11  11                                  BONDBLOX EXCHANGE      NaN  BBLX
12  12          BANK OF AMERICA SECURITIES - CENTRAL RISK      NaN  BACR
13  13                         SPB EXCHANGE - ALL MARKETS      NaN  SPBE
14  14                         OTC LINK ATS - OTC MARKETS      USD  OTCM
15  15  BOERSE STUTTGART - FREIVERKEHR - TECHNICAL PLA...      EUR  STUF
16  16            BOERSE STUTTGART - TECHNICAL PLATFORM 3      EUR  XSTP
17  17  BOERSE STUTTGART - REGULIERTER MARKT - TECHNIC...      EUR  STUE
18  18                               COINBASE DERIVATIVES      USD  FREX
19  19            HI-CERT - MULTILATERAL TRADING FACILITY      NaN  HCER
20  20                                   IDX MARKETS, LLC      USD  IDXM
21  21                                     MILLENNIUM BCP      NaN  MBCP
22  22                          MTF SOFIA - GROWTH MARKET      NaN  GMBG
23  23              BLUE OCEAN ALTERNATIVE TRADING SYSTEM      USD  OCEA
24  24                    OSL DIGITAL SECURITIES EXCHANGE      NaN  OSDS
25  25                                   OSL SG EXCHANGES      NaN  OSSG
26  26                                          ROUTE4GAS      NaN  RR4G
27  27                             TRADING 212 UK LIMITED      GBP  TRUK
28  28                                   UNITEDBLOCKTRADE      GBP  UGEN
29  29  WARSAW STOCK EXCHANGE/ EQUITIES/GLOBAL CONNECT...      NaN  XGLO

In [34]:
# save the data in a sql table exchange in the data db_name
#YOUR CODE
conn = sqlite3.connect(db_file)
exchange_data.to_sql('exchange_data', conn, if_exists='append', index = False)

2561

In [81]:
# scrape wiki table with symbols and details of Dow Jones constituents
dj_constituents = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average#Components')[1]
dj_constituents.rename(columns={'Company':'name', 'Industry': 'industry', 'Symbol': 'ticker'}, inplace=True)
dj_constituents.head(30)

,name,Exchange,ticker,industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.88%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.56%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,4.88%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.15%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.40%
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06,NaN,4.19%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,3.05%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.00%
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.28%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,2.32%
10,Dow,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.32%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,6.22%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.90%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,Also 1925-12-07 to 2008-02-19 under various na...,3.71%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.69%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.91%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.60%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.45%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.89%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.65%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.43%
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,2.48%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,3.15%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,3.38%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.38%
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24,NaN,10.14%
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.97%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.06%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.88%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,3.04%

In [82]:
# scrape wiki table with symbols and details of s&P500 constituents
sp_constituents = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]#.to_csv('constintuents_current.csv', index=False)
sp_constituents.rename(columns={'Symbol': 'ticker', 'Security':'name', 'Headquarters Location': 'hq_location',
                                'GICS Sector': 'sector', 'GICS Sub-Industry':'industry'},inplace=True)
sp_constituents.head()

,ticker,name,SEC filings,sector,industry,hq_location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [94]:
#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'name', 'industry', 'sector', 'hq_location'

#drop duplicate
#sort
#reset index
#create the colum id based on the index
#YOUR CODE 


company_table = pd.concat([dj_constituents[['name', 'industry']], 
                           sp_constituents[['name', 'sector','industry', 'hq_location']]])

#drop duplicate
company_table.drop_duplicates(inplace=True)
#sort
company_table.sort_values
#reset index
company_table.reset_index()
#create the colum id based on the index
company_table['id']=company_table.index

In [95]:
company_table

,name,industry,sector,hq_location,id
0,3M,Conglomerate,NaN,NaN,0
1,American Express,Financial services,NaN,NaN,1
2,Amgen,Biopharmaceutical,NaN,NaN,2
3,Apple,Information technology,NaN,NaN,3
4,Boeing,Aerospace and defense,NaN,NaN,4
...,...,...,...,...,...
498,Yum! Brands,Restaurants,Consumer Discretionary,"Louisville, Kentucky",498
499,Zebra Technologies,Electronic Equipment & Instruments,Information Technology,"Lincolnshire, Illinois",499
500,Zimmer Biomet,Health Care Equipment,Health Care,"Warsaw, Indiana",500
501,Zions Bancorporation,Regional Banks,Financials,"Salt Lake City, Utah",501
502,Zoetis,Pharmaceuticals,Health Care,"Parsippany, New Jersey",502

In [97]:

#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'ticker', 'name'
#drop duplicate
#sort
#reset index
#create the colum id based on the index

#YOUR CODE 
security_table = pd.concat([dj_constituents[['name', 'ticker']], 
                           sp_constituents[['name', 'ticker']]])

#drop duplicate
security_table.drop_duplicates(inplace=True)
#sort
security_table.sort_values
#reset index
security_table.reset_index()
#create the colum id based on the index
security_table['id']=security_table.index

In [98]:
security_table

                     name ticker   id
0                      3M    MMM    0
1        American Express    AXP    1
2                   Amgen   AMGN    2
3                   Apple   AAPL    3
4                  Boeing     BA    4
..                    ...    ...  ...
498           Yum! Brands    YUM  498
499    Zebra Technologies   ZBRA  499
500         Zimmer Biomet    ZBH  500
501  Zions Bancorporation   ZION  501
502                Zoetis    ZTS  502

[514 rows x 3 columns]

In [106]:
#create the foreign key :  populating the security table with the company_id
#first step : create a dictionary with key, value pairs being the name of the company and the corresponding id 
#within its own table, which will be our foreign key in the second table.

#YOUT CODE 
company_id_mapper = dict(zip(company_table['name'], company_table['id']))

{'3M': 0,
 'American Express': 32,
 'Amgen': 39,
 'Apple': 3,
 'Boeing': 72,
 'Caterpillar': 5,
 'Chevron': 6,
 'Cisco': 112,
 'Coca-Cola': 8,
 'Disney': 152,
 'Dow': 10,
 'Goldman Sachs': 224,
 'Home Depot': 12,
 'Honeywell': 237,
 'IBM': 245,
 'Intel': 252,
 'Johnson & Johnson': 266,
 'JPMorgan Chase': 268,
 "McDonald's": 307,
 'Merck': 19,
 'Microsoft': 317,
 'Nike': 21,
 'Procter & Gamble': 381,
 'Salesforce': 409,
 'Travelers': 24,
 'UnitedHealth': 25,
 'Verizon': 470,
 'Visa': 27,
 'Walgreens Boots Alliance': 479,
 'Walmart': 480,
 'A. O. Smith': 1,
 'Abbott': 2,
 'AbbVie': 3,
 'Abiomed': 4,
 'Accenture': 5,
 'Activision Blizzard': 6,
 'ADM': 7,
 'Adobe Inc.': 8,
 'ADP': 9,
 'Advance Auto Parts': 10,
 'AES Corporation': 11,
 'Aflac': 12,
 'Agilent Technologies': 13,
 'Air Products and Chemicals': 14,
 'Akamai': 15,
 'Alaska Air Group': 16,
 'Albemarle Corporation': 17,
 'Alexandria Real Estate Equities': 18,
 'Align Technology': 19,
 'Allegion': 20,
 'Alliant Energy': 21,
 'Allstate': 22,
 'Alphabet Inc. (Class A)': 23,
 'Alphabet Inc. (Class C)': 24,
 'Altria': 25,
 'Amazon': 26,
 'Amcor': 27,
 'AMD': 28,
 'Ameren': 29,
 'American Airlines Group': 30,
 'American Electric Power': 31,
 'American International Group': 33,
 'American Tower': 34,
 'American Water Works': 35,
 'Ameriprise Financial': 36,
 'AmerisourceBergen': 37,
 'Ametek': 38,
 'Amphenol': 40,
 'Analog Devices': 41,
 'Ansys': 42,
 'Aon': 43,
 'APA Corporation': 44,
 'Apple Inc.': 45,
 'Applied Materials': 46,
 'Aptiv': 47,
 'Arch Capital Group': 48,
 'Arista Networks': 49,
 'Arthur J. Gallagher & Co.': 50,
 'Assurant': 51,
 'AT&T': 52,
 'Atmos Energy': 53,
 'Autodesk': 54,
 'AutoZone': 55,
 'AvalonBay Communities': 56,
 'Avery Dennison': 57,
 'Baker Hughes': 58,
 'Ball Corporation': 59,
 'Bank of America': 60,
 'Bath & Body Works, Inc.': 61,
 'Baxter International': 62,
 'Becton Dickinson': 63,
 'Berkley': 64,
 'Berkshire Hathaway': 65,
 'Best Buy': 66,
 'Bio-Rad': 67,
 'Bio-Techne': 68,
 'Biogen': 69,
 'BlackRock': 70,
 'BNY Mellon': 71,
 'Booking Holdings': 73,
 'BorgWarner': 74,
 'Boston Properties': 75,
 'Boston Scientific': 76,
 'Bristol Myers Squibb': 77,
 'Broadcom Inc.': 78,
 'Broadridge Financial Solutions': 79,
 'Brown & Brown': 80,
 'Brown–Forman': 81,
 'C.H. Robinson': 82,
 'Cadence Design Systems': 83,
 'Caesars Entertainment': 84,
 'Camden Property Trust': 85,
 'Campbell Soup Company': 86,
 'Capital One': 87,
 'Cardinal Health': 88,
 'CarMax': 89,
 'Carnival': 90,
 'Carrier Global': 91,
 'Catalent': 92,
 'Caterpillar Inc.': 93,
 'Cboe Global Markets': 94,
 'CBRE Group': 95,
 'CDW': 96,
 'Celanese': 97,
 'Centene Corporation': 98,
 'CenterPoint Energy': 99,
 'Ceridian': 100,
 'CF Industries': 101,
 'Charles River Laboratories': 102,
 'Charles Schwab Corporation': 103,
 'Charter Communications': 104,
 'Chevron Corporation': 105,
 'Chipotle Mexican Grill': 106,
 'Chubb Limited': 107,
 'Church & Dwight': 108,
 'Cigna': 109,
 'Cincinnati Financial': 110,
 'Cintas': 111,
 'Citigroup': 113,
 'Citizens Financial Group': 114,
 'Clorox': 115,
 'CME Group': 116,
 'CMS Energy': 117,
 'The Coca-Cola Company': 118,
 'Cognizant': 119,
 'Colgate-Palmolive': 120,
 'Comcast': 121,
 'Comerica': 122,
 'Conagra Brands': 123,
 'ConocoPhillips': 124,
 'Consolidated Edison': 125,
 'Constellation Brands': 126,
 'Constellation Energy': 127,
 'CooperCompanies': 128,
 'Copart': 129,
 'Corning Inc.': 130,
 'Corteva': 131,
 'CoStar Group': 132,
 'Costco': 133,
 'Coterra': 134,
 'Crown Castle': 135,
 'CSX': 136,
 'Cummins': 137,
 'CVS Health': 138,
 'D.R. Horton': 139,
 'Danaher Corporation': 140,
 'Darden Restaurants': 141,
 'DaVita Inc.': 142,
 'John Deere': 143,
 'Delta Air Lines': 144,
 'Dentsply Sirona': 145,
 'Devon Energy': 146,
 'Dexcom': 147,
 'Diamondback Energy': 148,
 'Digital Realty': 149,
 'Discover Financial': 150,
 'Dish Network': 151,
 'Dollar General': 153,
 'Dollar Tree': 154,
 'Dominion Energy': 155,
 "Domino's": 156,
 'Dover Corporation': 157,
 'Dow Inc.': 158,
 'DTE Energy': 159,
 'Duke Energy': 160,
 'DuPont': 161,
 'DXC Technology': 162,
 'Eastman Chemical Company': 163,
 'Eaton Corporation': 164,
 'eBay': 165,
 'Ecolab': 166,
 'Edison International': 167,
 'Edwards Lifesciences': 168,
 'Electronic Arts': 169,
 'Elevance Health': 170,
 'Eli Lilly and Company': 171,
 'Emerson Electric': 172,
 'Enphase': 173,
 'Entergy': 174,
 'EOG Resources': 175,
 'EPAM Systems': 176,
 'EQT': 177,
 'Equifax': 178,
 'Equinix': 179,
 'Equity Residential': 180,
 'Essex Property Trust': 181,
 'The Estée Lauder Companies': 182,
 'Etsy': 183,
 'Everest Re': 184,
 'Evergy': 185,
 'Eversource': 186,
 'Exelon': 187,
 'Expedia Group': 188,
 'Expeditors International': 189,
 'Extra Space Storage': 190,
 'ExxonMobil': 191,
 'F5, Inc.': 192,
 'FactSet': 193,
 'Fastenal': 194,
 'Federal Realty': 195,
 'FedEx': 196,
 'Fifth Third Bank': 197,
 'First Republic Bank': 198,
 'FirstEnergy': 199,
 'FIS': 200,
 'Fiserv': 201,
 'Fleetcor': 202,
 'FMC Corporation': 203,
 'Ford Motor Company': 204,
 'Fortinet': 205,
 'Fortive': 206,
 'Fortune Brands Home & Security': 207,
 'Fox Corporation (Class A)': 208,
 'Fox Corporation (Class B)': 209,
 'Franklin Templeton': 210,
 'Freeport-McMoRan': 211,
 'Garmin': 212,
 'Gartner': 213,
 'Gen Digital Inc.': 214,
 'Generac': 215,
 'General Dynamics': 216,
 'General Electric': 217,
 'General Mills': 218,
 'General Motors': 219,
 'Genuine Parts Company': 220,
 'Gilead Sciences': 221,
 'Globe Life': 222,
 'Global Payments': 223,
 'Halliburton': 225,
 'Hartford (The)': 226,
 'Hasbro': 227,
 'HCA Healthcare': 228,
 'Healthpeak': 229,
 'Henry Schein': 230,
 "Hershey's": 231,
 'Hess Corporation': 232,
 'Hewlett Packard Enterprise': 233,
 'Hilton Worldwide': 234,
 'Hologic': 235,
 'The Home Depot': 236,
 'Hormel Foods': 238,
 'Host Hotels & Resorts': 239,
 'Howmet Aerospace': 240,
 'HP Inc.': 241,
 'Humana': 242,
 'Huntington Bancshares': 243,
 'Huntington Ingalls Industries': 244,
 'IDEX Corporation': 246,
 'Idexx Laboratories': 247,
 'Illinois Tool Works': 248,
 'Illumina': 249,
 'Incyte': 250,
 'Ingersoll Rand': 251,
 'Intercontinental Exchange': 253,
 'International Paper': 254,
 'The Interpublic Group of Companies': 255,
 'International Flavors & Fragrances': 256,
 'Intuit': 257,
 'Intuitive Surgical': 258,
 'Invesco': 259,
 'Invitation Homes': 260,
 'IQVIA': 261,
 'Iron Mountain': 262,
 'J.B. Hunt': 263,
 'Jack Henry & Associates': 264,
 'Jacobs Solutions': 265,
 'Johnson Controls': 267,
 'Juniper Networks': 269,
 "Kellogg's": 270,
 'Keurig Dr Pepper': 271,
 'KeyCorp': 272,
 'Keysight': 273,
 'Kimberly-Clark': 274,
 'Kimco Realty': 275,
 'Kinder Morgan': 276,
 'KLA Corporation': 277,
 'Kraft Heinz': 278,
 'Kroger': 279,
 'L3Harris': 280,
 'LabCorp': 281,
 'Lam Research': 282,
 'Lamb Weston': 283,
 'Las Vegas Sands': 284,
 'Leidos': 285,
 'Lennar': 286,
 'Lincoln Financial': 287,
 'Linde plc': 288,
 'Live Nation Entertainment': 289,
 'LKQ Corporation': 290,
 'Lockheed Martin': 291,
 'Loews Corporation': 292,
 "Lowe's": 293,
 'Lumen Technologies': 294,
 'LyondellBasell': 295,
 'M&T Bank': 296,
 'Marathon Oil': 297,
 'Marathon Petroleum': 298,
 'MarketAxess': 299,
 'Marriott International': 300,
 'Marsh McLennan': 301,
 'Martin Marietta Materials': 302,
 'Masco': 303,
 'Mastercard': 304,
 'Match Group': 305,
 'McCormick & Company': 306,
 'McKesson': 308,
 'Medtronic': 309,
 'Merck & Co.': 310,
 'Meta Platforms': 311,
 'MetLife': 312,
 'Mettler Toledo': 313,
 'MGM Resorts': 314,
 'Microchip Technology': 315,
 'Micron Technology': 316,
 'Mid-America Apartment Communities': 318,
 'Moderna': 319,
 'Mohawk Industries': 320,
 'Molina Healthcare': 321,
 'Molson Coors Beverage Company': 322,
 'Mondelez International': 323,
 'Monolithic Power Systems': 324,
 'Monster Beverage': 325,
 "Moody's Corporation": 326,
 'Morgan Stanley': 327,
 'The Mosaic Company': 328,
 'Motorola Solutions': 329,
 'MSCI': 330,
 'Nasdaq, Inc.': 331,
 'NetApp': 332,
 'Netflix': 333,
 'Newell Brands': 334,
 'Newmont': 335,
 'News Corp (Class A)': 336,
 'News Corp (Class B)': 337,
 'NextEra Energy': 338,
 'Nike, Inc.': 339,
 'NiSource': 340,
 'Nordson Corporation': 341,
 'Norfolk Southern Railway': 342,
 'Northern Trust': 343,
 'Northrop Grumman': 344,
 'Norwegian Cruise Line Holdings': 345,
 'NRG Energy': 346,
 'Nucor': 347,
 'Nvidia': 348,
 'NVR, Inc.': 349,
 'NXP Semiconductors': 350,
 "O'Reilly Auto Parts": 351,
 'Occidental Petroleum': 352,
 'Old Dominion': 353,
 'Omnicom Group': 354,
 'ON Semiconductor': 355,
 'Oneok': 356,
 'Oracle Corporation': 357,
 'Organon & Co.': 358,
 'Otis Worldwide': 359,
 'Paccar': 360,
 'Packaging Corporation of America': 361,
 'Paramount Global': 362,
 'Parker Hannifin': 363,
 'Paychex': 364,
 'Paycom': 365,
 'PayPal': 366,
 'Pentair': 367,
 'PepsiCo': 368,
 'PerkinElmer': 369,
 'Pfizer': 370,
 'PG&E': 371,
 'Philip Morris International': 372,
 'Phillips 66': 373,
 'Pinnacle West': 374,
 'Pioneer Natural Resources': 375,
 'PNC Financial Services': 376,
 'Pool Corporation': 377,
 'PPG Industries': 378,
 'PPL Corporation': 379,
 'Principal Financial Group': 380,
 'Progressive Corporation': 382,
 'Prologis': 383,
 'Prudential Financial': 384,
 'Public Service Enterprise Group': 385,
 'PTC': 386,
 'Public Storage': 387,
 'PulteGroup': 388,
 'Qorvo': 389,
 'Quanta Services': 390,
 'Qualcomm': 391,
 'Quest Diagnostics': 392,
 'Ralph Lauren Corporation': 393,
 'Raymond James': 394,
 'Raytheon Technologies': 395,
 'Realty Income': 396,
 'Regency Centers': 397,
 'Regeneron': 398,
 'Regions Financial Corporation': 399,
 'Republic Services': 400,
 'ResMed': 401,
 'Robert Half': 402,
 'Rockwell Automation': 403,
 'Rollins, Inc.': 404,
 'Roper Technologies': 405,
 'Ross Stores': 406,
 'Royal Caribbean Group': 407,
 'S&P Global': 408,
 'SBA Communications': 410,
 'Schlumberger': 411,
 'Seagate Technology': 412,
 'Sealed Air': 413,
 'Sempra Energy': 414,
 'ServiceNow': 415,
 'Sherwin-Williams': 416,
 'Signature Bank': 417,
 'Simon Property Group': 418,
 'Skyworks Solutions': 419,
 'The J.M. Smucker Company': 420,
 'Snap-on': 421,
 'SolarEdge': 422,
 'Southern Company': 423,
 'Southwest Airlines': 424,
 'Stanley Black & Decker': 425,
 'Starbucks': 426,
 'State Street Corporation': 427,
 'Steris': 428,
 'Stryker Corporation': 429,
 'SVB Financial': 430,
 'Synchrony Financial': 431,
 'Synopsys': 432,
 'Sysco': 433,
 'T-Mobile US': 434,
 'T. Rowe Price': 435,
 'Take-Two Interactive': 436,
 'Tapestry, Inc.': 437,
 'Targa Resources': 438,
 'Target Corporation': 439,
 'TE Connectivity': 440,
 'Teledyne Technologies': 441,
 'Teleflex': 442,
 'Teradyne': 443,
 'Tesla, Inc.': 444,
 'Texas Instruments': 445,
 'Textron': 446,
 'Thermo Fisher Scientific': 447,
 'TJX Companies': 448,
 'Tractor Supply': 449,
 'Trane Technologies': 450,
 'TransDigm Group': 451,
 'The Travelers Companies': 452,
 'Trimble Inc.': 453,
 'Truist': 454,
 'Tyler Technologies': 455,
 'Tyson Foods': 456,
 'U.S. Bank': 457,
 'UDR, Inc.': 458,
 'Ulta Beauty': 459,
 'Union Pacific Corporation': 460,
 'United Airlines Holdings': 461,
 'United Parcel Service': 462,
 'United Rentals': 463,
 'UnitedHealth Group': 464,
 'Universal Health Services': 465,
 'Valero Energy': 466,
 'Ventas': 467,
 'Verisign': 468,
 'Verisk': 469,
 'Vertex Pharmaceuticals': 471,
 'VF Corporation': 472,
 'Viatris': 473,
 'Vici Properties': 474,
 'Visa Inc.': 475,
 'Vornado Realty Trust': 476,
 'Vulcan Materials Company': 477,
 'Wabtec': 478,
 'Warner Bros. Discovery': 481,
 'Waste Management': 482,
 'Waters Corporation': 483,
 'WEC Energy Group': 484,
 'Wells Fargo': 485,
 'Welltower': 486,
 'West Pharmaceutical Services': 487,
 'Western Digital': 488,
 'WestRock': 489,
 'Weyerhaeuser': 490,
 'Whirlpool Corporation': 491,
 'Williams Companies': 492,
 'Willis Towers Watson': 493,
 'W. W. Grainger': 494,
 'Wynn Resorts': 495,
 'Xcel Energy': 496,
 'Xylem Inc.': 497,
 'Yum! Brands': 498,
 'Zebra Technologies': 499,
 'Zimmer Biomet': 500,
 'Zions Bancorporation': 501,
 'Zoetis': 502}

In [109]:
##### Seconde step: create the foreign key company id 
#YOUR CODE 
security_id_mapper = dict(zip(security_table['name'], security_table['id']))
company_table['security_id']=company_table['name'].map(security_id_mapper)
company_table

In [112]:
#create the foreign key : populate the company table with the security_id:
#YOUR CODE 
security_table['compagny_id']=security_table['name'].map(company_id_mapper)
security_table

                     name ticker   id  compagny_id
0                      3M    MMM    0            0
1        American Express    AXP    1           32
2                   Amgen   AMGN    2           39
3                   Apple   AAPL    3            3
4                  Boeing     BA    4           72
..                    ...    ...  ...          ...
498           Yum! Brands    YUM  498          498
499    Zebra Technologies   ZBRA  499          499
500         Zimmer Biomet    ZBH  500          500
501  Zions Bancorporation   ZION  501          501
502                Zoetis    ZTS  502          502

[514 rows x 4 columns]

In [120]:
#Reda the nyse.csv and the nasdaq.csv
#YOUR CODE 
nyse = pd.read_csv('nyse.csv')
nyse.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,DDD,3D Systems Corporation,7.66,$927.89M,NaN,Technology,Computer Software: Prepackaged Software,https://old.nasdaq.com/symbol/ddd,NaN
1,MMM,3M Company,169.80,$97.81B,NaN,Health Care,Medical/Dental Instruments,https://old.nasdaq.com/symbol/mmm,NaN
2,WBAI,500.com Limited,2.95,$126.85M,2013.0,Consumer Services,Services-Misc. Amusement & Recreation,https://old.nasdaq.com/symbol/wbai,NaN
3,EGHT,8x8 Inc,16.75,$1.75B,NaN,Technology,EDP Services,https://old.nasdaq.com/symbol/eght,NaN
4,AHC,A.H. Belo Corporation,1.44,$34.39M,NaN,Consumer Services,Newspapers/Magazines,https://old.nasdaq.com/symbol/ahc,NaN

In [117]:
nasdaq = pd.read_csv('nasdaq.csv')
nasdaq.head()

,Symbol,Name,LastSale,MarketCap,ADR TSO,IPOyear,Sector,Industry,Summary Quote,Unnamed: 9
0,VCVC,10X Capital Venture Acquisition Corp,NaN,0.000000e+00,NaN,NaN,NaN,NaN,https://old.nasdaq.com/symbol/vcvc,NaN
1,VCVCU,10X Capital Venture Acquisition Corp,NaN,0.000000e+00,NaN,NaN,NaN,NaN,https://old.nasdaq.com/symbol/vcvcu,NaN
2,TXG,"10x Genomics, Inc.",142.27,1.520301e+10,NaN,2019.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments,https://old.nasdaq.com/symbol/txg,NaN
3,YI,"111, Inc.",7.00,1.785821e+08,25511734.0,2018.0,Health Care,Medical/Nursing Services,https://old.nasdaq.com/symbol/yi,NaN
4,PIH,"1347 Property Insurance Holdings, Inc.",3.05,1.506076e+07,NaN,2014.0,Finance,Property-Casualty Insurers,https://old.nasdaq.com/symbol/pih,NaN

In [133]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of the nyse stocks will be 1300
#YOUR CODE
a = 1300
for i in len(nyse['Name']):
    
    nyse['id']= i.append(1300)
# nyse_id_mapper = dict(zip(nyse['Name'], nyse['id']))
# security_table['exchange_id']=nyse['Name'].map(security_id_mapper)
# security_table
nyse['id']=1

TypeError: 'int' object is not iterable

In [ ]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of  will be 1300 for the nyse stocks and 367 for the nasdaq stocks
#YOUR CODE

#YOUR CODE 
security_table.head(30)

In [ ]:
#save the data in the sql table security and company of the database db_name
#YOUR CODE

In [ ]:
#Extraction the prices of YAHOO: WARNING this action may take 15 min !!!
from tqdm import tqdm_notebook as tqdm
import pandas_datareader.data as web
stock_pricing_dfs = []
for stock_id in tqdm(security_table['id']):
    try:
        stock_pricing_df = web.DataReader(security_table.iloc[stock_id]['ticker'], 
                           start='2010-1-1', 
                           end='2020-08-31', 
                           data_source='yahoo')
        stock_pricing_df['security_id'] = stock_id
        stock_pricing_dfs.append(stock_pricing_df)
    except:
        pass
security_price_table = pd.concat(stock_pricing_dfs)

In [ ]:
security_price_table.info()

In [ ]:
#insert data in the table security_price
security_price_table.columns = ['high', 'low', 'open', 'close', 'volume', 'adj_close', 'security_id']
security_price_table.reset_index(inplace=True)
security_price_table['id'] = security_price_table.index
print(security_price_table.head())
security_price_table.to_sql("security_price", conn, if_exists="append", index=False)