In [8]:
import pandas as pd

In [2]:
#import the library sqlite3
import sqlite3

#create a new database and open a database connection with the name example
example = sqlite3.connect("example.db")

# create a data cursor cur in order execute SQL statements and fetch results from SQL queries
cur = example.cursor()

# Create table with the column date, side, symbol, qty, price
cur.execute("CREATE TABLE stock (date VarChar(10), side VarChar(20), symbol VarChar(20), qty float, price float)")

# Insert 3 row of data: the stock APPLE ( AAPL) with the date of transaction, the nature of side ( BUY or SELL),
#the quantity of the stock traded and the price
cur.execute("""
    INSERT INTO stock (date, side, symbol, qty, price) VALUES
        ('2021-01-01', 'BUY', 'AAPL', 100, 148.48),
        ('2021-01-02', 'SELL', 'AAPL', 100, 149.11),
        ('2021-01-03', 'BUY', 'AAPL', 75, 144.27),
        ('2021-01-04', 'SELL', 'AAPL', '75', '146.39')
        """) 

# Save (commit) the changes
example.commit() 

#return all resulting rows
res = cur.execute("SELECT * FROM stock")
res.fetchall()

# Close the connection
example.close()

# #for more informations : https://docs.python.org/3/library/sqlite3.html

## the construction of a financial database

Let’s start simple and only consider the structure for the equity data that we are gathering for now – in our case the constituents of the S&P500 index. We can tag on the various tables and possibly whole databases to the mix as and when we need to, i.e. when we start to deal with the spot currency data and fund data that we plan to include.

the  plan is to segregate theequity data into 4 separate tables, using unique ids and foreign keys to create the relevant relationships and links between them.

The tables will be as follows:


<img src='Tables.png'>

<img src='C:\Users\User\Desktop\Formations_Data-LAPTOP-JP680GIQ\Formations_Data-LAPTOP-JP680GIQ\Organisme_formation\Ib_cegos\AXA\MCD.png'>

In [7]:
#import the library os and the module Error of the library sqlite3
import os
import sqlite3
from sqlite3 import Error
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    #YOUR CODE 
    conn = None
    try: 
        conn = sqlite3.connect(db_file)
        return conn
    except :
        print ("erreur")
        
    return conn


def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    #YOUR CODE 
    try : 
        cur = conn.cursor()
        cur.execute(create_table_sql)  
              
    except :
        print("erreur")

#the name of the database
db_name = "data.db"
        
def main():

    
    # create the tables according to the MCD
    sql_create_exchange_table = """ CREATE TABLE IF NOT EXISTS exchange (
                                        id integer ,
                                        name text NOT NULL,
                                        currency VarChar(5),
                                        code text NOT NULL UNIQUE,
                                        PRIMARY KEY(id)
                                    ); """
    
    sql_create_company_table = """CREATE TABLE IF NOT EXISTS company (
                                    id integer ,
                                    name text NOT NULL,
                                    industry text,
                                    sector text,
                                    hq_location text,
                                    security_id integer,
                                    PRIMARY KEY(id),
                                    FOREIGN KEY (security_id) REFERENCES security (id)
                                );"""
    
    
    sql_create_security_table = """CREATE TABLE IF NOT EXISTS security (
                                id integer,
                                ticker text NOT NULL UNIQUE,
                                name text NOT NULL,
                                company_id integer,
                                exchange_id integer,
                                PRIMARY KEY(id)
                                FOREIGN KEY (company_id) REFERENCES company (id),
                                FOREIGN KEY (exchange_id) REFERENCES exchange (id)
                            );"""
    
    sql_create_security_price_table =  """CREATE TABLE IF NOT EXISTS security_price (
                        id integer,
                        date text NOT NULL,
                        open decimal NOT NULL,
                        high decimal NOT NULL,
                        low decimal NOT NULL,
                        close decimal NOT NULL,
                        volume integer,
                        adj_close decimal NOT NULL,
                        security_id integer,
                        PRIMARY KEY(id),
                        FOREIGN KEY (security_id) REFERENCES security (id)
                    );"""

    
    # create a database connection
    #YOUR CODE
    conn = create_connection(db_name)
    
    
    # create tables
    if conn is not None:
        # create exchange table
        #YOUR CODE
        create_table(conn, sql_create_exchange_table)
    
        # create company table
        #YOUR CODE
        create_table(conn, sql_create_company_table)
        
        # create security table
        #YOUR CODE
        create_table(conn, sql_create_security_table)
        
        # create security_price table
        #YOUR CODE
        create_table(conn, sql_create_security_price_table)
        
    else:
        print("Error! cannot create the database connection.")
main()

In [9]:
#import the library pandas , requests and io
exchange_data = pd.read_csv("https://www.iso20022.org/sites/default/files/ISO10383_MIC/ISO10383_MIC.csv", encoding='iso-8859-1' )

In [11]:
exchange_data.head(3)

,MIC,OPERATING MIC,OPRT/SGMT,MARKET NAME-INSTITUTION DESCRIPTION,LEGAL ENTITY NAME,LEI,MARKET CATEGORY CODE,ACRONYM,ISO COUNTRY CODE (ISO 3166),CITY,WEBSITE,STATUS,CREATION DATE,LAST UPDATE DATE,LAST VALIDATION DATE,EXPIRY DATE,COMMENTS
0,DRSP,DRSP,OPRT,EURONEXT UK - REPORTING SERVICES,EURONEXT LONDON LIMITED,969500HMVSZ0TCV65D58,APPA,NaN,GB,LONDON,WWW.EURONEXT.COM,ACTIVE,20210927,20210927,20210927.0,NaN,APPROVED PUBLICATION ARRANGEMENT.
1,XCNQ,XCNQ,OPRT,CANADIAN SECURITIES EXCHANGE,"CNSX MARKETS, INC.",NaN,RMKT,CSE LISTED,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20090427,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
2,PURE,XCNQ,SGMT,CANADIAN SECURITIES EXCHANGE - PURE,"CNSX MARKETS, INC.",NaN,NSPD,CSE-PURE,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20061225,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...

In [12]:
exchange_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   MIC                                  2561 non-null   object
 1   OPERATING MIC                        2561 non-null   object
 2   OPRT/SGMT                            2561 non-null   object
 3   MARKET NAME-INSTITUTION DESCRIPTION  2561 non-null   object
 4   LEGAL ENTITY NAME                    495 non-null    object
 5   LEI                                  1833 non-null   object
 6   MARKET CATEGORY CODE                 2559 non-null   object
 7   ACRONYM                              890 non-null    object
 8   ISO COUNTRY CODE (ISO 3166)          2560 non-null   object
 9   CITY                                 2559 non-null   object
 10  WEBSITE                              2387 non-null   object
 11  STATUS                               2561 non-null   object
 12  CREATION DATE                        2561 non-null   int64
 13  LAST UPDATE DATE                     2561 non-null   int64
 14  LAST VALIDATION DATE                 213 non-null    float64
 15  EXPIRY DATE                          438 non-null    float64
 16  COMMENTS                             1502 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 340.3+ KB

In [13]:
exchange_data = exchange_data[['ISO COUNTRY CODE (ISO 3166)', 'MIC', 'MARKET NAME-INSTITUTION DESCRIPTION', 'ACRONYM']]
exchange_data.head()

,ISO COUNTRY CODE (ISO 3166),MIC,MARKET NAME-INSTITUTION DESCRIPTION,ACRONYM
0,GB,DRSP,EURONEXT UK - REPORTING SERVICES,NaN
1,CA,XCNQ,CANADIAN SECURITIES EXCHANGE,CSE LISTED
2,CA,PURE,CANADIAN SECURITIES EXCHANGE - PURE,CSE-PURE
3,GB,ZODM,ZODIA MARKETS,NaN
4,US,FNFX,FENICS FX ECN,NaN

In [14]:
exchange_data.rename(columns={'ISO COUNTRY CODE (ISO 3166)' : 'country_code', 
                              'MIC':'code', 
                              'MARKET NAME-INSTITUTION DESCRIPTION': 'name',
                              'ACRONYM':'acronym'}, inplace=True)
exchange_data.head()

  country_code  code                                 name     acronym
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE
3           GB  ZODM                        ZODIA MARKETS         NaN
4           US  FNFX                        FENICS FX ECN         NaN

In [23]:
exchange_data['id'] = exchange_data.index
exchange_data.head()

  country_code  code                                 name     acronym  id
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN   0
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED   1
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE   2
3           GB  ZODM                        ZODIA MARKETS         NaN   3
4           US  FNFX                        FENICS FX ECN         NaN   4

In [27]:
exchange_data['country_code']

0       GB
1       CA
2       CA
3       GB
4       US
        ..
2556    US
2557    NO
2558    US
2559    US
2560    GB
Name: country_code, Length: 2561, dtype: object

In [43]:
# create the column currency in the the dataframe exhange_data whose values 
#are mapped with the country code : US => USD, GB =>GBP, DE =>EUR
mapping = {"US": "USD", "GB": "GBP", "DE": "EUR"}
exchange_data['currency'] = exchange_data['country_code'].map(mapping)
exchange_data[['id', 'name', 'currency', 'code']].head(30)

    id                                               name currency  code
0    0                  EURONEXT  UK - REPORTING SERVICES      GBP  DRSP
1    1                       CANADIAN SECURITIES EXCHANGE      NaN  XCNQ
2    2                CANADIAN SECURITIES EXCHANGE - PURE      NaN  PURE
3    3                                      ZODIA MARKETS      GBP  ZODM
4    4                                      FENICS FX ECN      USD  FNFX
5    5                                    NASDAQ OSLO ASA      NaN  NORX
6    6                           PORTFOLIO STOCK EXCHANGE      NaN  POSE
7    7                                        PUNDION LLC      USD  PUND
8    8                               UNICREDIT BULBANK AD      NaN  UCBG
9    9                ASX - NEW ZEALAND FUTURES & OPTIONS      NaN  NZFX
10  10                                    ONECHICAGO, LLC      USD  XOCH
11  11                                  BONDBLOX EXCHANGE      NaN  BBLX
12  12          BANK OF AMERICA SECURITIES - CENTRAL RISK      NaN  BACR
13  13                         SPB EXCHANGE - ALL MARKETS      NaN  SPBE
14  14                         OTC LINK ATS - OTC MARKETS      USD  OTCM
15  15  BOERSE STUTTGART - FREIVERKEHR - TECHNICAL PLA...      EUR  STUF
16  16            BOERSE STUTTGART - TECHNICAL PLATFORM 3      EUR  XSTP
17  17  BOERSE STUTTGART - REGULIERTER MARKT - TECHNIC...      EUR  STUE
18  18                               COINBASE DERIVATIVES      USD  FREX
19  19            HI-CERT - MULTILATERAL TRADING FACILITY      NaN  HCER
20  20                                   IDX MARKETS, LLC      USD  IDXM
21  21                                     MILLENNIUM BCP      NaN  MBCP
22  22                          MTF SOFIA - GROWTH MARKET      NaN  GMBG
23  23              BLUE OCEAN ALTERNATIVE TRADING SYSTEM      USD  OCEA
24  24                    OSL DIGITAL SECURITIES EXCHANGE      NaN  OSDS
25  25                                   OSL SG EXCHANGES      NaN  OSSG
26  26                                          ROUTE4GAS      NaN  RR4G
27  27                             TRADING 212 UK LIMITED      GBP  TRUK
28  28                                   UNITEDBLOCKTRADE      GBP  UGEN
29  29  WARSAW STOCK EXCHANGE/ EQUITIES/GLOBAL CONNECT...      NaN  XGLO

In [ ]:
# save the data in a sql table exchange in the data db_name
#YOUR CODE

In [ ]:
# scrape wiki table with symbols and details of Dow Jones constituents
dj_constituents = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average#Components')[1]
dj_constituents.rename(columns={'Company':'name', 'Industry': 'industry', 'Symbol': 'ticker'}, inplace=True)
dj_constituents.head(30)

In [ ]:
# scrape wiki table with symbols and details of s&P500 constituents
sp_constituents = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]#.to_csv('constintuents_current.csv', index=False)
sp_constituents.rename(columns={'Symbol': 'ticker', 'Security':'name', 'Headquarters Location': 'hq_location',
                                'GICS Sector': 'sector', 'GICS Sub-Industry':'industry'},inplace=True)
sp_constituents.head()

In [ ]:
#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'name', 'industry', 'sector', 'hq_location'

#drop duplicate
#sort
#reset index
#create the colum id based on the index
#YOUR CODE 
company_table =

In [ ]:
company_table

In [ ]:

#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'ticker', 'name'
#drop duplicate
#sort
#reset index
#create the colum id based on the index

#YOUR CODE 
security_table =

In [ ]:
security_table

In [ ]:
#create the foreign key :  populating the security table with the company_id
#first step : create a dictionary with key, value pairs being the name of the company and the corresponding id 
#within its own table, which will be our foreign key in the second table.

#YOUT CODE 
company_id_mapper =

In [ ]:
#Seconde step: create the foreign key company id 
#YOUR CODE

In [ ]:
#create the foreign key : populate the company table with the security_id:
#YOUR CODE

In [ ]:
#Reda the nyse.csv and the nasdaq.csv
#YOUR CODE 
nyse.head()

In [ ]:
nasdaq.head()

In [ ]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of the nyse stocks will be 1300
#YOUR CODE
security_table

In [ ]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of  will be 1300 for the nyse stocks and 367 for the nasdaq stocks
#YOUR CODE

#YOUR CODE 
security_table.head(30)

In [ ]:
#save the data in the sql table security and company of the database db_name
#YOUR CODE

In [ ]:
#Extraction the prices of YAHOO: WARNING this action may take 15 min !!!
from tqdm import tqdm_notebook as tqdm
import pandas_datareader.data as web
stock_pricing_dfs = []
for stock_id in tqdm(security_table['id']):
    try:
        stock_pricing_df = web.DataReader(security_table.iloc[stock_id]['ticker'], 
                           start='2010-1-1', 
                           end='2020-08-31', 
                           data_source='yahoo')
        stock_pricing_df['security_id'] = stock_id
        stock_pricing_dfs.append(stock_pricing_df)
    except:
        pass
security_price_table = pd.concat(stock_pricing_dfs)

In [ ]:
security_price_table.info()

In [ ]:
#insert data in the table security_price
security_price_table.columns = ['high', 'low', 'open', 'close', 'volume', 'adj_close', 'security_id']
security_price_table.reset_index(inplace=True)
security_price_table['id'] = security_price_table.index
print(security_price_table.head())
security_price_table.to_sql("security_price", conn, if_exists="append", index=False)